---
import { getCollection } from "astro:content";
import BaseSite from "../../layouts/BaseSite.astro";
import { WEB_TAGS, WEB_TITLE } from "../../common";

const posts = await getCollection("posts");
const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];

const countPostsWithTag = (tag: string) =>
  posts.filter((post) => post.data.tags.includes(tag)).length;
---

<BaseSite title="Tags" description={`A list of tags on ${WEB_TITLE}`}>
  <h2 class="mono">Tags</h2>

  <section class="tags-list">
    <ul>
      {
        uniqueTags.map((tag) => (
          <li>
            <a href={`/tags/${tag}`}>{tag}</a>: {WEB_TAGS[tag]}
            {`(${countPostsWithTag(tag)})`}.
          </li>
        ))
      }
    </ul>
  </section>
</BaseSite>

<style>
  .tags-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
</style>
