---
import BaseSite from "../layouts/BaseSite.astro";
import BlogEntry from "../components/BlogEntry.astro";

import { getCollection } from "astro:content";
import { WEB_TITLE, WEB_DESCRIPTION, sortByLatest } from "../common";

const posts = await getCollection("posts");
const projects = [
  {
    title: "pdfnaut",
    description: "A PDF processor written in Python",
    repository: "https://github.com/aescarias/pdfnaut",
    docs: "https://pdfnaut.rtfd.io",
  },
  {
    title: "Atto Weather",
    description: "A weather app written in Python using Qt",
    repository: "https://github.com/aescarias/atto-weather",
  },
  {
    title: "Python on Windows Troubleshooter",
    description: "Look for traces of Python installs on Windows",
    repository: "https://github.com/aescarias/pywintrbl",
  },
  {
    title: "BinID",
    description: "Binary identification software written in Go",
    repository: "https://github.com/aescarias/binid",
  },
];
---

<BaseSite title={WEB_TITLE} description={WEB_DESCRIPTION}>
  <section id="about" class="about-card">
    <div class="about-details">
      <h2 class="mono">I'm a fellow citizen of the web 🏓</h2>

      <p>
        I'm Ángel Carias, a software developer that loves tinkering with APIs
        and specifications to write wonderful applications.
      </p>

      <div class="links">
        <a
          class="link-button"
          href="https://github.com/aescarias"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="ph ph-github-logo"></i> github
        </a>
        <a class="link-button" href="mailto:lotta.dev@outlook.com">
          <i class="ph ph-envelope-simple"></i> email
        </a>
      </div>
    </div>

    <img
      class="avatar"
      src="https://avatars.githubusercontent.com/u/69056344?v=4"
      alt="Angel's avatar on Github"
    />
  </section>

  <section id="projects">
    <h2 class="mono">projects</h2>

    <div class="project-grid">
      {
        projects.map((proj) => (
          <article class="project-card">
            <div class="project-details">
              <h3>{proj.title}</h3>
              <p>{proj.description}</p>
            </div>

            <div class="links">
              {proj.repository ? (
                <a
                  class="link-button"
                  href={proj.repository}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="ph ph-github-logo" /> github
                </a>
              ) : undefined}

              {proj.docs ? (
                <a
                  class="link-button"
                  href={proj.docs}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="ph ph-book-open-text" /> docs
                </a>
              ) : undefined}
            </div>
          </article>
        ))
      }
    </div>
  </section>

  <section id="posts" class="articles">
    <h2 class="mono">posts</h2>

    {
      sortByLatest(posts)
        .slice(0, 4)
        .map((post) => <BlogEntry post={post} />)
    }

    <a class="all-posts" href="/posts">
      <i class="ph ph-arrow-right"></i> all posts
    </a>
  </section>
</BaseSite>

<style is:global>
  .link-button {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    background-color: var(--clr-bg-second);
    color: var(--clr-fg);
    padding: 0.25em 0.5em;
    border-radius: 5px;
    transition:
      background-color 0.5s,
      color 0.5s;
  }

  .link-button:hover {
    background-color: var(--clr-bg);
  }
</style>

<style>
  .about-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .about-details h2 {
    margin: 0;
  }

  .about-card .avatar {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    height: 10rem;
  }

  .project-grid {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .project-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    gap: 0.75em 1.5em;
    background-color: var(--clr-card);
    border-radius: 5px;
  }

  .project-card p,
  .project-card h3 {
    margin: 0;
    font-size: inherit;
  }

  .project-card p {
    flex-grow: 1;
  }

  .articles {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .articles > h2 {
    margin-bottom: 0;
  }

  .all-posts {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: end;
  }

  @media screen and (max-width: 1090px) {
    .project-grid {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
  }

  @media screen and (max-width: 800px) {
    .about-card {
      display: flex;
      flex-direction: column;
      gap: 1em;
      align-items: center;
    }
  }
</style>
