---
import { type CollectionEntry } from "astro:content";
import { format } from "date-fns";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<article class="post">
  <a href={`/posts/${post.id}`}>{post.data.title}</a>
  <div class="subtext">
    <time datetime={post.data.published.toString()}>
      {format(post.data.published, "MMMM dd, yyyy")}
    </time>

    <span>·</span>

    <ul class="tags">
      {
        post.data.tags.map((tag) => (
          <li>
            <a class="tag" href={`/tags/${tag}`}>
              {tag}
            </a>
          </li>
        ))
      }
    </ul>
  </div>

  <p>{post.data.description}</p>
</article>

<style>
  .post {
    background-color: var(--clr-card);
    border-radius: 5px;
    padding: 0.75em;
    gap: 0.5em;
  }

  .post a {
    font-size: 1.25rem;
  }

  .post p {
    margin: 0;
  }

  .tags {
    list-style: none;
    padding-inline: 0;
    display: inline-flex;
    flex-wrap: wrap;
    column-gap: 0.5em;
    margin: 0;
  }

  .tags .tag {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    color: var(--clr-fg-second);
  }

  .tags .tag:hover {
    color: var(--clr-link-active);
  }
</style>
